/* FOOTER */
.site-footer{
	background:url("../../images/dark-wood.png");
}

.footer-info-container{
  display:flex;
	justify-content: space-around;
	height:300px;
	width:100%;
	background-size:cover;
	padding-top:2.5rem;
}

.footer-text{
	color:#d99054;
	h3{
		font-family:"Merriweather", Sans-Serif;
	}
}

.footer-text p{
	color:#ffffff;
}

.footer-text a{
	color:#ffffff;
	text-decoration: none;
}

.text-logo a{
	img{
	width:250px;
	}
}

.social-media-icons{
	font-size:1.5rem;
}

.copyright{
text-align: center;
padding-bottom:1.5rem;
color:#ffffff;
}