/*  FOOTER */
.site-footer{
	background:url("../../images/dark-wood.png");
}

.footer-info-container{
  display:flex;
	justify-content: space-around;
	height:300px;
	width:100%;
	background-size:cover;
	padding-top:1.5rem;
}

.footer-text{
	color:$orange;
	h3{
		font-family:$headfont;
	}
}

.footer-text p{
	color:$main;
}

.date-bold{
  font-weight: bold;
}

.footer-text a{
	color:$main;
	text-decoration: none;
}

.footer-text h3{

  color:$orange;
  font-size: 19.2px;
  font-size: 1.2rem;
  margin-bottom: .75rem;
  text-transform: uppercase;
}


.text-logo a{
	img{
	width:250px;
	}
}

.social-media-icons{
	font-size:1.5rem;
}

.copyright{
font-family:$headfont;
text-align: center;
padding-bottom:1.5rem;
color:$main;
text-transform: uppercase;
}