.page-template-page-about{

	#post-35{
		background:red;
	}
	.site-header{
		width:100%;
		position:	fixed;
		padding-top:1rem;
		border-bottom: solid #EEE 1px;
		z-index:3; 
			.header-container{
				display: flex;
				justify-content: space-between;
				padding-left:5%;
				padding-right:5%;
				font-family:$headfont;
				width: 1120px;
			}
			.site-branding{
				a img{
				height:35px;
			}	
		}
	}
}